<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home">Vote</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
          <ul>
              <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
              <li><a routerLink="/hackers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Hackers</a></li>
              <!-- <div *ngIf="LoggedIn"> -->
                <li *ngIf="LoggedIn"><a   routerLink="/login" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Login</a></li>
                <li *ngIf="LoggedIn"><a   routerLink="/register" routerLinkActive="active">Sign Up</a></li>
              <!-- </div> -->
              <li *ngIf="!LoggedIn"><a  routerLink="/profile" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Profile</a></li>
              <li *ngIf="!LoggedIn"><a  style="cursor:pointer" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" (click)="logout()">Logout</a></li>
          </ul>
        </nav>
  </div>
</header>
<router-outlet>
</router-outlet>